{% extends "base.html" %}
{% load static %}


{% block "extrahead" %}
<script src="https://cdn.jsdelivr.net/npm/semantic-ui-popup@2.3.0/popup.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-popup@2.3.0/popup.min.css">
{% endblock %}

{% block "main" %}

<h1 class="ui header">{{ title }}</h1>

<div class="ui button">Show fluid popup</div>
<div class="ui fluid popup top left transition hidden">
  <div class="ui four column divided center aligned grid">
    <div class="column">1</div>
    <div class="column">2</div>
    <div class="column">3</div>
    <div class="column">4</div>
  </div>
</div>

<div class="ui button">Show flowing popup</div>
<div class="ui flowing popup top left transition hidden">
  <div class="ui three column divided center aligned grid">
    <div class="column">
      <h4 class="ui header">Basic Plan</h4>
      <p><b>2</b> projects, $10 a month</p>
      <div class="ui button">Choose</div>
    </div>
    <div class="column">
      <h4 class="ui header">Business Plan</h4>
      <p><b>5</b> projects, $20 a month</p>
      <div class="ui button">Choose</div>
    </div>
    <div class="column">
      <h4 class="ui header">Premium Plan</h4>
      <p><b>8</b> projects, $25 a month</p>
      <div class="ui button">Choose</div>
    </div>
  </div>
</div>

<ul>
  {% for ph in phases %}
  <li>
    {{ ph }}
  </li>
  {% endfor %}
</ul>



{% endblock %}
